.chat-page {
  height: 100vh;
  &::selection {
    background-color: #11ff00;
  }
}
.chatPage-info {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    color: #ffffff;
    font-size: 26px;
  }
  p {
    max-width: 650px;
    color: #ff4000;
    font-weight: 555;
    font-size: 20px;
  }
}
.navigationButtons {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  .navigateToHome {
    font-family: "Belanosima";
    text-align: center;
    background-color: rgb(68, 141, 220);
    padding: 3px 5px;
    border-radius: 1ex;
    cursor: pointer;
    transition: all ease 0.5s;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    &:hover {
      box-shadow: 0px 0px 3px 3px rgba(122, 121, 120, 0.761);
    }
  }

  .navigateToDashboard {
    background-color: #00b3ff;
    margin: 10px auto;
    padding: 3px 6px;
    font-weight: 600;
    font-family: "Belanosima";
    cursor: pointer;
    color: #fff;
    border-radius: 1ex;
    margin-left: 8px;
    font-size: 17px;
    transition: all ease 0.5s;

    &:hover {
      box-shadow: 0px 0px 3px 2px rgba(246, 98, 0, 0.72);
    }
  }
}
.users {
  width: 20%;
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 20px;

  li {
    font-family: "Belanosima";
    border-radius: 1ex;
    padding: 4px;
    color: #ffffff;
    font-weight: 555;
    margin-bottom: 28px;
    background-color: rgb(250, 51, 6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: enterUsers 0.5s ease-in 0s 1;
    position: relative;
    transition: 0.3s all ease;
    font-size: 1.2rem;

    &:hover {
      transform: translate3d(-2px, 3px, 4px);
      background-color: #1487bc;
    }
    p.user-name {
      color: #f8fff3;
      text-align: center;
      width: auto;
      text-wrap: wrap;
      font-size: 19px;
    }
    p.user-age {
      color: #f8fff3;
      text-align: center;
      text-wrap: wrap;
      font-size: 18.5px;
      margin-right: 5px;
    }
    p.user-gender {
      span {
        vertical-align: top;
        background-color: #ff7700;
        color: rgb(255, 3, 3);
        font-weight: 600;
        border-radius: 5ex;
        margin-left: 5px;
        margin-right: 5px;

        font-size: 25px;
        i.g-fe {
          color: #fc0404;
          vertical-align: middle;
          padding: 3px 4px;
        }
        i.g-ma {
          color: #0c7ffa;
          vertical-align: middle;
          padding: 3px 4px;
        }
      }
    }
    .user-feedbacks {
      background-color: #ef640d;
      position: absolute;
      top: -25px;
      right: 35px;
      padding: 3px;
      border-radius: 1.1ex;
      span {
        font-size: 19px;
        color: #edf5ff;
      }
    }
    .userPhoto-container {
      position: relative;
      .userPhoto-container-main {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #0975a7a8;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      span {
        display: inline-block;
        position: absolute;
        bottom: -2px;
        right: -8px;
        font-size: 17px;
        background-color: rgba(252, 160, 23, 0.918);
        border-radius: 40%;
        letter-spacing: 1px;
        color: #ff0000;
        padding: 1.2px;
      }
    }

    span.status-user {
      position: absolute;
      right: 0;
      top: -17px;
      font-size: 14px;
    }
    button {
      font-weight: 555;
      background-color: #10ee00;
      color: #fff;
      font-family: "Belanosima";
      padding: 4px 5px;
      font-size: 17px;
      border-radius: 1ex;
      transition: 0.2s all ease;
      &:hover {
        cursor: pointer;
        background-color: #11ff00;
      }
      &:disabled {
        background-color: #4b3c40;
        cursor: no-drop;
      }
    }
  }
}
.no-results-found {
  color: #fff;
  font-size: 22px;
  text-align: center;
  font-weight: 555;
  background-color: #ff2200;
  border-radius: 1ex;
  animation: no-results-found-animation 0.6s linear 0s 1;
  overflow: hidden;
  padding: 5px;
  transform: translateY(20px);
}
@keyframes no-results-found-animation {
  0% {
    transform: rotate(7deg) translateY(20px);
  }

  50% {
    transform: rotate(-13deg) translateY(20px);
  }

  100% {
    transform: rotate(0deg) translateY(20px);
  }
}
.loading-users {
  text-align: center;
}
@keyframes enterUsers {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  30% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  60% {
    opacity: 1;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.call-notices-active {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #474f579d;
}
.senderUserNotice-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;
}

.senderUserNotice-content {
  background-color: #f9a621dd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  width: 350px;
  height: auto;
  border-radius: 1ex;
  padding: 13px 0px;
  animation: enterNoticeAnimate 0.5s ease-out 0s 1;
  .senderUser-photo {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h4 {
    color: #fff;
    font-size: 24px;
  }
  .accept-button {
    background-color: #00ff59;
    border: none;
    border-radius: 1ex;
    padding: 4px 6px;
    font-family: "Poppins";
    font-weight: 555;
    color: #eee;
    transition: 0.3s all ease;
    &:hover {
      background-color: #00ff1a;
      cursor: pointer;
      box-shadow: 2px 1px 2px 3px #11ff00;
    }
    &:disabled {
      background-color: #3a573d;
      cursor: no-drop;
      box-shadow: 2px 1px 2px 3px #445243;
    }
  }
  .info-message {
    font-size: 14px;
    color: #ff0000;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    span {
      color: #033b12;
      font-size: 15px;
    }
  }
}
.senderUserContainer-active {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 1;
  pointer-events: all;
  background-color: #293d55a0;
}

.senderUserContainer-inactive {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 1;
  pointer-events: all;
}
.recipientUserInfo-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;
  animation: enterNoticeAnimate 0.5s ease-out 0s 1;
}
.recipientUserInfo-inactive {
  opacity: 0;
  pointer-events: none;
}

.recipientUser-content {
  background-color: #00ccff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  width: 350px;
  height: auto;
  border-radius: 1ex;
  padding: 13px 0px;
  animation: enterNoticeAnimate 0.5s ease-out 0s 1;

  .recipientUser-photo {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h4 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.cancel-button {
  background-color: #ff2200;
  border-radius: 1ex;
  padding: 4px 6px;
  font-family: "Poppins";
  font-weight: 555;
  color: #eee;
  transition: 0.3s all ease;
  &:hover {
    background-color: #ff0000;
    cursor: pointer;
    box-shadow: 2px 1px 2px 3px #fa7025;
  }
}

@keyframes enterNoticeAnimate {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  50% {
    opacity: 0.6;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.senderUserNotice-content-buttons {
  margin-top: 10px;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.chattingUserInfo {
  text-align: center;
  color: #eee;
  padding-top: 5px;

  .chattingUser-photo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: zoom-in;
    }

    .zoomed-avatar {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1d1a1a;
      z-index: 2;
      img {
        width: auto;
        height: 630px;
        cursor: zoom-out;
        border-radius: 1ex;
      }
    }
  }

  p {
    font-size: 18px;
    span {
      color: #fa7725;
      font-weight: 600;
    }
  }
}
.alertSignIn {
  p {
    font-size: 25px;
    color: #00ffcc;
    font-weight: 555;
    margin-bottom: 20px;
  }
  button {
    margin-top: 10px;
    background-color: #ff2200;
    border-radius: 1ex;
    padding: 4px 6px;
    font-family: "Poppins";
    font-weight: 555;
    color: #eee;
    transition: 0.3s all ease;
    &:hover {
      background-color: #ff0000;
      cursor: pointer;
      box-shadow: 2px 1px 2px 3px #fa7025;
    }
  }
}
//
.filterUsersBy {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-weight: 555;
    color: #25fa97;
    margin-right: 10px;
  }
  button.filter-button {
    font-family: "Poppins";
    border-radius: 1ex;
    padding: 4px 6px;
    font-weight: 555;
    color: #eee;
    transition: 0.3s all ease;
    background-color: #4f4a41;
    margin-right: 7px;
    text-transform: capitalize;
    font-size: 15px;

    &:last-child {
      margin-right: 0px;
    }
    &:hover {
      background-color: #555b5aeb;
      cursor: pointer;
      box-shadow: 1px 1px 2px 3px #2d498fd4;
    }
  }
  button.all {
    background-color: #0080fff0;
    box-shadow: 2px 1px 1px 1px #2577faa7;
    transform: scale(1.07);
    &:hover {
      background-color: #077cf2f0;
      box-shadow: 2px 1px 1px 1px #2577faa7;
    }
  }
  button.online {
    background-color: #22ff00e3;
    box-shadow: 2px 1px 1px 1px #25fa37b1;
    transform: scale(1.07);
    &:hover {
      background-color: #28f609e3;
      box-shadow: 2px 1px 1px 1px #25fa37b1;
    }
  }
  button.ready {
    background-color: #27ee04f7;
    box-shadow: 2px 1px 1px 1px #25faa1b1;
    transform: scale(1.07);
    &:hover {
      background-color: #01ef05ed;
      box-shadow: 2px 1px 1px 1px #25faa1b1;
    }
  }
  button.chatting {
    background-color: #00ff88f0;
    box-shadow: 2px 1px 1px 1px #00ff88a9;
    transform: scale(1.07);
    &:hover {
      background-color: #06ef82f0;
      box-shadow: 2px 1px 1px 1px #00ff88a9;
    }
  }
  button.offline {
    background-color: #ff0033f0;
    box-shadow: 2px 1px 1px 1px #fa2525a7;
    transform: scale(1.07);
    &:hover {
      background-color: #ef0f3bf0;
      box-shadow: 2px 1px 1px 1px #fa2525a7;
    }
  }

  .filterUsersByLevel-block {
    position: relative;
    .show-selected-levels {
      background-color: #1378887e;
      position: absolute;
      bottom: 95%;
      left: 10%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 2px 0px;
      border-radius: 1ex;
      b {
        color: #fff;
        font-family: "Belanosima";
        font-size: 12px;
        background-color: #ef640d;
        border-radius: 1ex;
        padding: 1px 3px;
        margin-left: 7px;
      }
    }
    .fastResetSelectedLevels {
      margin-bottom: 3px;
      button {
        font-family: "Poppins";
        cursor: pointer;
        border-radius: 1ex;
        padding: 3px 7px;
        font-weight: 600;
        color: #eee;
        transition: 0.3s all ease;
        background-color: #fc460f;
        margin-right: 7px;
        margin-left: 10px;
        font-size: 12px;
        transition: all 0.2s ease;
        &:hover {
          background-color: #e80b03;
          transform: scale(1.04);
        }
      }
    }
    button.filterByUsersLevel-callModal-active {
      background-color: #009dff !important;
      transform: scale(1.04);
      font-family: "Poppins";
      border-radius: 1ex;
      padding: 4px 5px;
      font-weight: 555;
      color: #eee;
      transition: 0.3s all ease;
      background-color: #4f4a41;
      margin-right: 7px;
      text-transform: capitalize;
      font-size: 15px;
      cursor: pointer;
      box-shadow: 2px 4px 11px #0080ff;
    }
  }
  .filterByUserLevel-section {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #068eefed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    .filterByUserLevel-container {
      width: 360px;
      height: 300px;
      background-color: #ff6a07;
      border-radius: 1ex;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      .howdoesitwork {
        text-align: center;
        font-size: 16px;
        margin-bottom: 0;
        b {
          color: rgba(71, 48, 48, 0.933);
          padding: 4px;
        }
      }
      p {
        font-size: 19px;
        color: #fff0f0;
        margin: 9px 0px;
      }
      .filterByUserLevelModalCloseButton {
        position: absolute;
        top: 10px;
        padding: 5px 8px;
        margin-right: 0px;
        font-size: 21px;
        background-color: #f40838;
        box-shadow: none;
        color: #fefefe;
        border-radius: 2ex;
        cursor: pointer;
        transition: 0.2s all ease;
        &:hover {
          transform: scale(1.05);
        }
      }
      .filterByUserLevel-buttons {
        button {
          background-color: #4aa2fa;
          color: #feee;
          padding: 5px 5px;
          border-radius: 3px;
          margin-right: 6px;
          font-size: 20px;
          cursor: pointer;
          transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
          font-weight: 600;
          &:hover {
            background-color: #20c0f5eb;
            box-shadow: none;
            transform: scale(1.05);
          }
          &:disabled {
            background-color: #222;
            transform: scale(0.9);
            cursor: no-drop;
          }
        }
        button.selectedLevel {
          background-color: rgb(34, 227, 24);
          transform: scale(1.05);
        }
      }
      .resetSelectedLevel {
        margin-top: 15px;
        text-align: center;
        button {
          border-radius: 1.3ex;
          background-color: #ff1100f0;
          &:hover {
            background-color: #e30f0feb;
            box-shadow: none;
            transform: scale(1);
          }
          &:disabled {
            background-color: #222 !important;
          }
        }
      }
    }
  }
}
.beReadyToChat {
  margin-top: 20px;
  text-align: center;

  button {
    font-family: "Poppins";
    border-radius: 1ex;
    padding: 4px 6px;
    font-weight: 555;
    color: #eee;
    transition: 0.3s all ease;
    margin-right: 7px;
    text-transform: capitalize;
    font-size: 15px;
    cursor: pointer;
  }
  .activate-readyToChat-btn {
    background-color: #0044fff0;
    &:hover {
      transform: scale(1.07);
      background-color: #008cfff0;
    }
  }
  .beReadytoChat-container-active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #a1de08;
    z-index: 4;
    opacity: 1;
    pointer-events: visible;
    transition: all 0.3s ease;
  }
  .beReadytoChat-container-inactive {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00ff80;
    z-index: 4;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .beReadyToChat-content {
    max-width: 600px;
    margin: 0 auto;
    .info-ReadyToChatFeature {
      font-size: 22px;
      max-width: 500px;
      margin: 0 auto;
      color: #0077ff;
      font-weight: 600;
      margin-bottom: 15px;
    }
    .inactivate-readyToChat-btn {
      background-color: rgb(255, 38, 0);
      &:hover {
        background-color: #e80b03;
        transform: scale(1.07);
      }
    }
    .searching-ui {
      .searching-ui-loading {
        margin: 15px 0px;
      }
      p {
        font-weight: 600;
        color: rgb(244, 57, 6);
        font-size: 22px;
        margin-bottom: 14px;
      }
    }
  }
}
