.alert-signIn {
  text-align: center;
  font-size: 27px;
  color: #ff5500;
  background-color: #156bf6e0;
  border-radius: 1.1ex;
}
.dashboard {
  width: 100%;
  height: 100vh;
  h1 {
    text-align: center;
  }
  .dashboardContainer {
    max-width: 1300px;
    padding: 0 10px;
    margin: 10px auto;
  }
}

// user profile styles
.user-profile {
  color: #fff;
  background-color: #f64915e0;
  border-radius: 1ex;
  font-family: "Belanosima";
  .userProfile-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1100px;
    margin: 5px auto;
  }
  .user-photo {
    margin: 10px auto;
    img {
      border-radius: 3ex;
      width: auto;
      height: 150px;
      cursor: zoom-in;
    }
    .zoomed-avatar {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1d1a1a;
      img {
        width: auto;
        height: 650px;
        cursor: zoom-out;
      }
    }
  }
  .user__data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      font-size: 28px;
      margin-bottom: 10px;
      color: rgb(246, 246, 18);
      font-weight: 550;
      span {
        vertical-align: top;
        background-color: #ff7700;
        color: rgb(255, 3, 3);
        font-weight: 600;
        padding: 3px 4px;
        border-radius: 5ex;
        margin-left: 5px;

        i.g-fe {
          color: #fc0404;
          transform: scale(1.2);
          vertical-align: middle;
        }
        i.g-ma {
          color: #0c7ffa;
          transform: scale(1.2);
          vertical-align: middle;
        }
      }
    }
  }
  .feedbacks-container {
    margin: 20px 0px;
    background-color: #ff9101e0;
    display: flex;
    justify-content: center;
    border-radius: 1ex;
    align-items: center;
    padding: 2.5px;
    h3 {
      font-size: 23px;
      margin-right: 15px;
    }
    p {
      text-align: center;
      background-color: rgb(50, 103, 199);
      font-size: 19px;
      margin-bottom: 5px;
      border-radius: 1ex;
      padding: 2px 4px;
      margin-right: 4px;
      span {
        padding: 1px 5px;
        background-color: #ff5500;
        border-radius: 5ex;
        font-family: "Belanosima";
        font-weight: 600;
        margin-left: 4px;
        font-size: 20px;
      }
    }
  }
}
.user-profileLoading {
  text-align: center;
}

.editProfile {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  .editProfile-btn {
    font-family: "Poppins";
    font-size: 21px;
    font-weight: 600;
    color: #fff8fb;
    background-color: #ff5500;
    padding: 4px 7px;
    border-radius: 1ex;
    cursor: pointer;
    letter-spacing: 0.7px;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0px 0px 10px #ff8800;
      letter-spacing: 0.2px;
    }
  }
  .editProfile-container-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #54371ff4;
    opacity: 1;
    pointer-events: all;
    transition: 0.4s all ease;
  }
  .editProfile-container-inactive {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ea5d1ce5;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s all ease;
  }
  .editProfile-content {
    max-width: 350px;
    height: auto;
    padding: 15px 5px;
    background-color: #ff8800;
    border-radius: 1ex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    .error-message {
      font-size: 18px;
      color: #ff1100;
      margin-bottom: 5px;
      animation: enterErrorMessage 0.5s ease 0s backwards;
    }
    @keyframes enterErrorMessage {
      0% {
        transform: scale(0.5);
      }
      100% {
        transform: scale(1);
      }
    }
    .updatingProfile-message {
      font-size: 22px;
      color: #11ff00;
      font-weight: 700;
      text-shadow: 2px 2px grey;
      margin-bottom: 4px;
    }
    input {
      font-family: "Poppins";
      width: 250px;
      padding: 5.5px 6px;
      border-radius: 1ex;
      border: none;
      outline: #ff5500;
      font-weight: 600;
      letter-spacing: 0.7px;
      color: rgb(255, 81, 0);
      transition: 0.2s all ease;
      margin-bottom: 1rem;
      &::placeholder {
        color: #ff5500;
        font-weight: 500;
      }
      &:hover {
        box-shadow: 0px 0px 10px rgb(75, 103, 156);
      }
      &:focus {
        box-shadow: 0px 0px 10px rgb(24, 94, 222);
      }
      &:disabled {
        cursor: no-drop;
        box-shadow: 0px 0px 10px rgba(8, 20, 41, 0.248);
      }
    }
    .selectionGender {
      display: flex;
      align-items: center;
      p {
        margin-right: 6px;
        font-size: 18px;
        color: #ffffff;
      }
      button {
        font-family: "Poppins";
        background-color: #638ceb;
        color: #feee;
        padding: 2px 5px;
        border-radius: 3px;
        margin-right: 7px;
        font-size: 15px;
        cursor: pointer;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
        font-weight: 600;
        &:hover {
          background-color: #506a7beb;
          transform: scale(1.05);
        }
        &:last-child {
          margin-right: 0px;
        }
        &:disabled {
          background-color: #374854eb;
          transform: scale(0.9);
          cursor: no-drop;
        }
        span {
          display: inline-block;
          vertical-align: middle;
          font-size: 22px;
        }
        span.g-fe {
          color: #fc3204;
          transform: scale(1.2);
        }
        span.g-ma {
          color: #0c7ffa;
          transform: scale(1.2);
        }
      }
      button.selected-gender {
        background-color: #314156;
        border-radius: 1ex;
        transform: scale(1.09);
      }
    }
    input[type="file"] {
      display: none;
    }

    label.custom-file-label {
      margin: 10px 0px;
      background-color: #458fc1;
      color: #fff;
      padding: 4px 20px;
      border: 1px solid #3498db;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.2s all ease;
      max-width: 200px;
      text-align: center;
      align-self: center;
      &:hover {
        background-color: #e74c3c;
        transform: scale(1.02);
      }
      span {
        font-size: 21px;
        vertical-align: top;
      }
    }
    input[type="file"]:disabled + label.custom-file-label {
      background-color: #1d1a1a;
      border: 1px solid #fc3204;
      transform: scale(1.02);
      cursor: no-drop;
    }
    .update-userProfile-btn {
      font-family: "Poppins";
      background-color: #fff;
      color: #ff5500;
      padding: 6px 8px;
      border-radius: 1ex;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s ease-in;
      &:hover {
        box-shadow: 0px 0px 10px #ff1100;
        transform: scale(1.1);
      }
      &:disabled {
        transform: scale(1);
        background-color: rgba(52, 78, 52, 0.967);
        box-shadow: 0px 0px 10px #ff11006f;
        cursor: no-drop;
      }
    }
    .close-editProfile-modal {
      position: absolute;
      top: 0;
      right: 0;
      padding: 4.5px;
      font-size: 20px;
      font-family: "Poppins";
      background-color: #fff;
      color: #ff5500;
      padding: 0px 4px;
      border-radius: 1ex;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s ease-in;
      &:disabled {
        background-color: #1d1a1a;
        color: #696868;
        cursor: no-drop;
      }
    }
  }
}
// user profile styles
