.vocabularyQuiz {
  padding-top: 20px;
  .vocabularyQuiz-about {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0px 15px 0px;
    background-color: rgba(61, 67, 100, 0.689);
    border-radius: 1ex;
    border: 2.2px dashed #fca829;
    h2 {
      font-size: 28px;
      color: #40fc02;
    }
    p {
      color: rgb(255, 162, 68);
      text-align: center;
      max-width: 700px;
      margin: 0 auto;
      font-size: 23px;
      font-weight: 554;
    }
  }
}
.vocabularyQuiz-tests {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h3 {
    font-size: 28px;
    color: #40fc02;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  .testNumbers {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1100px;
    gap: 15px;
    .circle {
      background-color: #ffa244;
      border-radius: 1ex;
      text-align: center;
      transition: 0.3s all ease;
      &:hover {
        box-shadow: 5px 5px #ff7044;
        transform: translate3d(4px, -4px, 3px);
      }
      a {
        color: #232;
        font-weight: 555;
        font-size: 22px;
        padding: 2px 6px;
      }
    }
  }
}
