.grammar-checker {
  text-align: center;
  h1 {
    color: #fff;
    font-size: 31px;
  }
  .grammar-checker-about {
    max-width: 450px;
    margin: 15px auto;
    font-weight: 455;
    color: #eee;
    font-size: 20px;
  }
}
