.chat-interface {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  padding: 10px 0px;
  form {
    padding-bottom: 12px;
    textarea {
      font-family: "Poppins";
      resize: none;
      width: 300px;
      height: 45px;
      max-height: 100px;
      padding: 8px 10px;
      border-radius: 1ex;
      background-color: #eee;
      font-size: 17px;
      font-weight: 555;
      border: 1px solid gold;
      outline: none;
      color: #222;
      transition: 0.4s all ease;
      margin-right: 5px;
      &::-webkit-scrollbar {
        width: 3px;
        background-color: #b9bdc3;
        border-radius: 1ex;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 1ex;
        width: 2px;
        background-color: #2880fa;
      }
      @media (max-width: 450px) {
        width: 250px;
      }
      &:hover {
        box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.474);
      }
      &:focus {
        box-shadow: 0px 0px 4px 4px rgba(244, 181, 6, 0.42);
      }
    }
  }

  form button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 25px;
    color: #0abeff;
    &:disabled {
      color: #817a7a;
      cursor: no-drop;
    }
    transition: 0.2s all ease;
    @media (hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 676px) {
  .chat-interface {
    input {
      width: 250px;
      font-size: 16px;
    }
  }
}

@media (max-width: 470px) {
  .chat-interface {
    input {
      width: 220px;
      font-size: 14px;
    }
    bottom: -2%;
  }
  .quitChat {
    button {
      padding: 4px 1px 0px 1px !important;
    }
  }
}
// CHAT BODY:

.chat-list {
  width: 57%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 30px;
  overflow-x: hidden;
  max-height: 68vh;
  overflow-y: auto;
  border-radius: 2ex;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(30, 169, 255, 0.715);
    border-radius: 1ex;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.5ex;
    width: 10px;
    background-color: #fff6f6;
  }
  .chat-message {
    color: #fff;
    font-weight: 555;

    * {
      border-radius: 1ex;
      padding: 3.4px;
      margin-bottom: 3.4px;
    }
    .myMessage {
      transform: translateX(255%) scale(1);
      opacity: 1;
      background-color: #15baf6;
      white-space: break-spaces;
      word-wrap: break-word;
      word-break: break-all;
      max-width: 250px;
      animation: enterAnewMessageMy 0.4s ease 0s 1;
    }
    .theirMessage {
      transform: translateX(0.6%);
      background-color: #f66b15;
      max-width: 270px;
      white-space: break-spaces;
      word-wrap: break-word;
      word-break: break-all;
      animation: enterAnewMessageTheir 0.4s ease 0s 1;
    }
  }
}
// !! BAD SCSS CODE CODE CODE, SOON WILL BE CHANGE (so dont worry...)

@media (max-width: 1920px) {
  .chat-list {
    width: 48%;
  }
}
@media (max-width: 1600px) {
  .chat-list {
    width: 57%;
  }
}
@media (max-width: 1100px) {
  .myMessage {
    max-width: 235px !important;
  }
  .theirMessage {
    max-width: 235px !important;
  }
}
@media (max-width: 1000px) {
  .myMessage {
    max-width: 222px !important;
  }
  .theirMessage {
    max-width: 222px !important;
  }
}

@media (max-width: 973px) {
  .myMessage {
    max-width: 216px !important;
  }
  .theirMessage {
    max-width: 216px !important;
  }
}

@media (max-width: 827px) {
  .myMessage {
    max-width: 206px !important;
  }
  .theirMessage {
    max-width: 206px !important;
  }
}

@media (max-width: 775px) {
  .myMessage {
    max-width: 188px !important;
  }
  .theirMessage {
    max-width: 188px !important;
  }
}

@media (max-width: 690px) {
  .myMessage {
    max-width: 178px !important;
    font-size: 14px;
    transform: translateX(250%) scale(1) !important;
  }
  .theirMessage {
    max-width: 178px !important;
    font-size: 14px;
    transform: translateX(20%) !important;
  }
}

@media (max-width: 657px) {
  .myMessage {
    transform: translateX(240%) scale(1) !important;
  }
  .theirMessage {
    transform: translateX(10%) !important;
  }
}

@media (max-width: 652px) {
  .myMessage {
    transform: translateX(230%) scale(1) !important;
  }
  .theirMessage {
    transform: translateX(7%) !important;
  }
}

@media (max-width: 644px) {
  .myMessage {
    transform: translateX(220%) scale(1) !important;
  }
  .theirMessage {
    transform: translateX(7%) !important;
  }
}

@media (max-width: 576px) {
  .myMessage {
    transform: translateX(200%) scale(1) !important;
  }
  .theirMessage {
    transform: translateX(25%) !important;
  }
}

@media (max-width: 552px) {
  .myMessage {
    transform: translateX(180%) scale(1) !important;
  }
  .theirMessage {
    transform: translateX(25%) !important;
  }
}

@media (max-width: 515px) {
  .myMessage {
    transform: translateX(160%) scale(1) !important;
  }
  .theirMessage {
    transform: translateX(0%) !important;
  }
}

@media (max-width: 500px) {
  .myMessage {
    max-width: 165px !important;
  }
  .theirMessage {
    max-width: 165px !important;
  }
}

@media (max-width: 450px) {
  .myMessage {
    transform: translateX(77%) scale(1) !important;
  }
  .theirMessage {
    transform: translateX(37%) !important;
  }
}

// @media (max-width: 420px) {
//   .myMessage {
//     transform: translateX(120%) scale(1) !important;
//   }
//   .theirMessage {
//     transform: translateX(0%) !important;
//   }
// }
// @media (max-width: 405px) {
//   .myMessage {
//     transform: translateX(106%) scale(1) !important;
//   }
//   .theirMessage {
//     transform: translateX(0%) !important;
//   }
// }
// @media (max-width: 386px) {
//   .myMessage {
//     transform: translateX(80%) scale(1) !important;
//   }
//   .theirMessage {
//     transform: translateX(0%) !important;
//   }
// }
// Define a mixin to generate media queries
@mixin responsive-width($max-width, $width) {
  @media (max-width: $max-width) {
    .chat-list {
      width: $width;
    }
  }
}

// Define breakpoints and corresponding widths
$breakpoints: (
  1450px: 65%,
  1396px: 67%,
  1365px: 68%,
  1330px: 69%,
  1317px: 70%,
  1297px: 71%,
  1278px: 72%,
  1263px: 73%,
  1243px: 74%,
  1229px: 75%,
  1208px: 76%,
  1182px: 77%,
  1168px: 78%,
  1152px: 79%,
  1133px: 80%,
  1107px: 82%,
  1044px: 83%,
  1028px: 84%,
  1000px: 83%,
  947px: 85%,
  925px: 87%,
  905px: 88%,
  895px: 90%,
  872px: 92%,
  835px: 93%,
  800px: 95%,
  792px: 96%,
  782px: 97%,
  775px: 90%,
  762px: 92%,
  747px: 93%,
  733px: 95%,
  708px: 97%,
  690px: 96%,
  676px: 98%,
  656px: 95%,
  650px: 94%,
  644px: 93%,
  632px: 94%,
  608px: 98%,
  592px: 99%,
  580px: 100%,
  576px: 99%,
  552px: 96%,
  540px: 98%,
  525px: 100%,
  515px: 94%,
  500px: 90%,
  493px: 93%,
  478px: 95%,
  470px: 85%,
  //   420px: 93%,
  //   386px: 87%,
  //   380px: 84%,
  //   370px: 86%,,,,,,,
);

// Loop through breakpoints and generate media queries using mixin
@each $max-width, $width in $breakpoints {
  @include responsive-width($max-width, $width);
}
// !! BAD SCSS CODE CODE CODE SOON WILL BE CHANGE
@keyframes enterAnewMessageMy {
  0% {
    opacity: 0;
    transform: scale(0.6) translateX(205%);
  }
  50% {
    opacity: 0.6;
    transform: scale(0.8) translateX(255%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(255%);
  }
}

@keyframes enterAnewMessageTheir {
  0% {
    opacity: 0;
    transform: scale(0.6) translateX(0.6%);
  }
  50% {
    opacity: 0.6;
    transform: scale(0.8) translateX(0.6%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0.6%);
  }
}

.quitChat {
  display: flex;
  align-items: center;
  margin-right: 5px;
  button {
    background-color: #ff2200;
    border-radius: 1ex;
    padding: 4px 6px;
    font-family: "Poppins";
    font-weight: 555;
    color: #eee;
    transition: 0.3s all ease;
    font-size: 15px;
    &:hover {
      background-color: #ff0000;
      cursor: pointer;
      box-shadow: 2px 1px 2px 1px #ff5900d6;
    }
  }
}
.quited-user {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  background-color: #1564f6cc;
  align-content: center;
  z-index: 1;
  p {
    max-width: 600px;
    font-weight: 655;
    color: #ff2f00;
    font-size: 25px;
    text-shadow: 2px 2px 2px rgb(7, 83, 247);
    button {
      margin-left: 10px;
      background-color: #ff2200;
      border-radius: 1ex;
      padding: 4px 6px;
      font-family: "Poppins";
      font-weight: 555;
      color: #eee;
      transition: 0.3s all ease;
      font-size: 13px;
      &:hover {
        background-color: #ff0000;
        cursor: pointer;
        box-shadow: 2px 1px 2px 1px #ff5900d6;
      }
    }
    span {
      color: #ffffffe3;
      font-weight: 700;
      text-shadow: 2px 3px 2px #ff1e00ae;
    }
  }
}
.callEmojisList {
  align-self: center;
  button {
    background-color: transparent;
    border: none;
    font-size: 21px;
    font-weight: 555;
    cursor: pointer;
    img {
      vertical-align: top;
    }
  }
}

@media (max-width: 450px) {
  .callEmojisList {
    display: none;
  }
  .callEmojisList,
  .emojis-active,
  .emojis-inactive {
    display: none;
  }
}
.emojis-active {
  opacity: 1;
  pointer-events: all;
  transition: 0.3s all ease;
}
.emojis-inactive {
  opacity: 0;
  pointer-events: none;
  transition: 0.3s all ease;
}
.emojis-container {
  position: fixed;
  bottom: 12%;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  max-width: 320px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  background-color: rgba(30, 143, 255, 0.696);
  border-radius: 1ex;
  padding-top: 10px;
  @media (max-width: 505px) {
    max-width: 246px;
    gap: 1px;
  }
  @media (max-width: 455px) {
    max-width: 216px;
    height: 250px;
    gap: 0px;
    bottom: 9%;
  }
  &::-webkit-scrollbar {
    width: 13px;
    background-color: rgba(30, 169, 255, 0.715);
    border-radius: 1ex;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.5ex;
    width: 10px;
    background-color: #fff6f6;
  }
}

.emoji {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s all ease-in;
  &:active {
    background-color: #e79107;
    border-radius: 5px;
    transform: scale(1.2);
  }
}
@media (hover: hover) {
  .emoji:hover {
    background-color: #e79107;
    border-radius: 5px;
    transform: scale(1.2);
  }
}
//FEEDBACK STYLE
.feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #c75300;
  z-index: 2;
  button {
    transition: 0.2s all ease;
    cursor: pointer;
  }
  h3 {
    font-size: 28px;
    color: #fff;
    letter-spacing: 1px;
  }
  p {
    font-size: 26px;
    color: #fff;
    font-weight: 600;
    margin: 10px 0px;
    text-align: center;
  }
  .emoji-options {
    width: 10%;
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
    @media (max-width: 488px) {
      width: 25%;
    }
    button {
      font-size: 24px;
      background-color: #154df6e0;
      border-radius: 2ex;
      padding: 5px;
      margin-right: 5px;
      @media (hover: hover) {
        &:hover {
          background-color: #c8c7c7;
          transform: scale(1.1);
        }
      }
      &.isActive {
        background-color: #de6e06;
        transform: scale(1.2);
      }
    }
  }
  .submit-feedback,
  button {
    background-color: #ff2f00;
    color: #f8f9ff;
    padding: 6px;
    border-radius: 1ex;
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s all ease;

    &:hover {
      background-color: #f50606;
    }
  }
}
//FEEDBACK STYLE
